// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "controls";
@import "typography";

@import "blueprint/buttons";

@include blueprint-typography;

/* -------------------------------------------------------------------------*/
/* Layout */

.container {
  @include container;
  @include susy-grid-background;
}

table {
  thead {
    th {
      color: white;
      background-color: $colour2;
    }
  }
}

form {
  @include blueprint-inline-form;
}
input[type="text"] {
  @include text-input;
}
input[type="submit"], input[type="button"] {
  @include button-button;
  width: $column-width * 2;
}

.header h2 {
  @include subheader;
}

.footer {
  @include span-columns($total-columns omega, $total-columns);
  font-size: 0.8em;
}

.about-asid {
  @include span-columns(6, $total-columns);
}

.your-own-identity {
  @include span-columns(6 omega, $total-columns);

  .create {
    @include span-columns(5 omega, 6);

    input {
      width: 97%;
    }

    a {
      @include anchor-button;
      @include span-columns(2 omega, 5);
      text-align: center;
    }
  }
}

.wallet {
  @include span-columns(6, $total-columns);

  h3 {
    @include subheader;
  }

  p.key {
    @include pre(2);
    @include span-columns(3, 6);

    margin-top: 0.5em;
    font-family: $font-fixed;
    word-wrap: break-word;
  }
}

label {
  @include span-columns(1, 6);
}

.pools {
  @include span-columns(6 omega, $total-columns);

  h2 {
   margin-bottom: 0.1em;
  }

  .entries {
    margin-top: 1em;

    .details {
      @include pre(1);
      @include span-columns(3, 6);

      h3.poolName {
        font-size: 1.1em;
        margin-bottom: 1.5em;
      }
      h4.poolIdentity {
        @include subheader;
      }

      p {
        margin-top: -0.5em;
        margin-bottom: 1em;
      }

      .dialog {
        .connectionDialog {
          @include span-columns(3, 3);
          background-color: $dialog-colour;
          height: 205px;
          padding: 0.5em;
        }

        .identity, .uri {
          @include span-columns(3, 3);
        }
        label {
          text-align: right;
        }
        input[type="text"] {
          @include span-columns(2 omega, 3);
        }
        .controls {
          @include pre(1);
          @include span-columns(2 omega, 3);
        }
      }
    }

    .controls {
      @include span-columns(2 omega, 6);
      a.sign {
        @include anchor-button;
        width: $column-width * 2;
        text-align: center;
        margin-top: 4em;
      }
    }
  }

  form#addTrustPool {
    .challenge {
      @include span-columns(6 omega, 6);
      .challengeControls {
        @include span-columns(2 omega, 6);
      }
      .pieces {
        @include span-columns(2, 6);
      }
    }
  }
}

.bag {
  @include span-columns(6, $total-columns);

  h2 {
   margin-bottom: 0.1em;
  }
}
