!!!
%html
  %head
    %title asid: a decentralized, trustable identity system
    %link(rel="stylesheet" type="text/css" href="stylesheets/screen.css")

    %script(data-main="/scripts/boot" src="/scripts/require.js")

    %script#walletTmpl(type="text/html")
      %h3 {{ identity }}
      %p.key {{ publicKey }}

    %script#bagTmpl(type="text/html")
      %table
        %thead
          %tr
            %th Key
            %th Value
        %tbody
          {{#bag}}
          %tr
            %td {{key}}
            %td {{value}}
          {{/bag}}

    %script#challengeTmpl(type="text/html")
      %div
        %input.challengeEntry(type="text")

    %script#trustPoolsTmpl(type="text/html")
      .pool
        .details
          %h3.poolName {{ name }}
          %h4.poolIdentity {{ identity }}
          %p
            {{#challenge}}
            {{.}}
            {{/challenge}}
          .dialog(id="{{links.self}}")
        .controls
          %a.sign(href="#" data-pool="{{links.self}}") Connect&hellip;

    %script#poolConnectionTmpl(type="text/html")
      .connectionDialog
        %form
          %input.poolUri(type="hidden" value="{{ uri }}" name="uri")
          .identity
            %label(for="identity") Id:
            %input.connIdentity(type="text" name="identity")
          .uri
            %label(for="identityUri") URI:
            %input.connUri(type="text" name="identityUri")
          .controls
            %input.cancel(type="button" value="Cancel")
            %input.connect(type="button" value="Connect")

  %body
    .container
      .header
        %h1 asid wallet

      .content
        .wallet
          
        .pools
          %h2 Trust Pools
          .controls
            %form#addTrustPool
              %label(for="name") Name:
              %input#poolName(type="text" name="name")
              %input#newPool(type="submit" value="New Pool")
              .challenge
                %label Challenge:
                .challengeControls
                  %input#addChallenge(type="button" value="Add")
                .pieces
          .entries

        .bag
          %h2 Data
          .entries
          .controls
            %form#addBagItem
              .key
                %label(for="key") Key:
                %input#newKey(type="text" name="key")
              .value
                %label(for="value") Value:
                %input#newValue(type="text" name="value")
                %input(type="submit" value="Add")

      .footer
        %p
          &copy; Giles Alexander, 2013 &mdash;
