!!!
%html
  %head
    %title asid: a decentralized, trustable identity system

    <!-- This desperately needs to be fixed -->
    %script(src="/scripts/icanhaz.js")
    %script(data-main="/scripts/boot" src="/scripts/require.js")

    %script#walletTmpl(type="text/html")
      %h3 {{ identity }}
      %code {{ publicKey }}

    %script#bagTmpl(type="text/html")
      %table
        %thead
          %tr
            %th Key
            %th Value
        %tbody
          {{#bag}}
          %tr
            %td {{key}}
            %td {{value}}
          {{/bag}}

  %body
    .container
      .header
        %h1 asid wallet

      .content
        .wallet
          
        %h2 Data
        .bag
          .controls
          .entries
