!!!
%html
  %head
    %title asid: a decentralized, trustable identity system

    <!-- This desperately needs to be fixed -->
    %script(src="/scripts/icanhaz.js")
    %script(data-main="/scripts/boot" src="/scripts/require.js")

    %script#walletTmpl(type="text/html")
      %h3 {{ identity }}
      %code {{ publicKey }}

    %script#bagTmpl(type="text/html")
      %table
        %thead
          %tr
            %th Key
            %th Value
        %tbody
          {{#bag}}
          %tr
            %td {{key}}
            %td {{value}}
          {{/bag}}

    %script#challengeTmpl(type="text/html")
      %div
        %input.challengeEntry(type="text")

    %script#trustPoolsTmpl(type="text/html")
      %h3 {{ name }}
      %br
      %a.sign(href="#" data-pool="{{links.self}}") Connect&hellip;
      %code {{ identity }}
      %ol
        {{#challenge}}
        %li {{.}}
        {{/challenge}}

  %body
    .container
      .header
        %h1 asid wallet

      .content
        .wallet
          
        %h2 Data
        .bag
          .controls
            %form#addBagItem
              %label(for="key") Key:
              %input#newKey(type="text" name="key")
              %label(for="value") Value:
              %input#newValue(type="text" name="value")
              %input(type="submit" value="Add")
          .entries

        %h2 Trust Pools
        .pools
          .controls
            %form#addTrustPool
              %label(for="name") Name:
              %input#poolName(type="text" name="name")
              %input(type="submit" value="New Pool")
              .challenge
              %a#addChallenge(href="#") Another&hellip;
          .entries
