!!!
%html
  %head
    %title asid: a decentralized, trustable identity system

    %script(data-main="scripts/boot" src="scripts/require.js")

  %body
    .container
      .header
        %h1 asid

      .content
        %a#new-identity(href="#") New Identity&hellip;

      .footer
